:root {
  --radius: 0.675rem;
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0.2795 0.0368 260.03);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2795 0.0368 260.03);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2795 0.0368 260.03);
  --primary: oklch(0.6582 0.169 248.81);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.9683 0.0069 247.9);
  --secondary-foreground: oklch(0.5544 0.0407 257.42);
  --muted: oklch(0.9683 0.0069 247.9);
  --muted-foreground: oklch(0.5544 0.0407 257.42);
  --accent: oklch(0.9683 0.0069 247.9);
  --accent-foreground: oklch(0.5544 0.0407 257.42);
  --destructive: oklch(0.6424 0.2215 19.4);
  --border: oklch(0.9288 0.0126 255.51);
  --input: oklch(0.9288 0.0126 255.51);
  --ring: oklch(0.6582 0.169 248.81);
  --success: oklch(0.7019 0.15768 160.4375);
}

.dark {
  --background: oklch(0.1408 0.0044 285.82);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2103 0.0059 285.89);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2103 0.0059 285.89);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.6582 0.169 248.81);
  --primary-foreground: oklch(0.9851 0 0);
  --secondary: oklch(0.2532 0.0056 285.99);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2532 0.0056 285.99);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.2532 0.0056 285.99);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
}
